@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;800&display=swap);
div .col-lg-4.col-xl-4 {
  padding: 0;
  transition: all .1s ease-out;
  transform-origin: center center; }

div .quilmes {
  width: 100vw;
  height: auto;
  transition: all .1s ease-out; }

.container__trabajos div:hover {
  transform: scale(1.015);
  transition: all .1s ease-in; }

.primerFila {
  padding: 60px 0px 0px 0px; }

.fotoBio {
  margin: 0;
  padding: 60px 0px 0px 0px;
  width: 100%;
  object-fit: contain; }

.tipoBio {
  font-family: "Rubik", sans-serif; }
  .tipoBio .text-center {
    padding: 40px 50px 100px 50px;
    margin: 10px; }

.container .img-fluid .sketch {
  margin: 0;
  padding: 0;
  object-fit: contain; }

.contacto {
  font-family: "Rubik", sans-serif; }
  .contacto p {
    margin: 0; }
  .contacto__texto {
    padding: 400px 10px 360px 10px; }
  .contacto h1 {
    font-weight: 800; }

.btnUno:hover {
  transform: scale(1.05);
  transition: all .15s ease-in; }

.btnDos:hover {
  transform: scale(1.05);
  transition: all .15s ease-in; }

.navbar-expand-lg.bg-body-tertiary {
  background-color: white !important; }

.navbar-brand img {
  margin: 0px;
  width: 40px;
  height: auto; }

.navbar-collapse a {
  font-family: "Rubik", sans-serif;
  color: black;
  margin: 0 30px;
  letter-spacing: 5px; }
  .navbar-collapse a:hover {
    scale: 105%; }

.portada {
  font-family: "Rubik", sans-serif; }
  .portada p {
    margin: 0; }
  .portada__bloqueTexto {
    padding: 160px 10px 0 10px; }
  .portada__h1 {
    font-weight: 800; }
  .portada__iconMail {
    margin: 0px 0px 95px 0px;
    scale: 40%;
    transition: all .4s ease-out;
    transform-origin: center center; }

.portada__iconMail:hover {
  transform: scale(1.25);
  transition: all .15s ease-in; }

.gifPortada {
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: contain; }

.footer a {
  margin: 0px;
  padding: 0px; }

.footer__mail img {
  scale: 25%; }

.footer__in img {
  scale: 25%; }

.footer__ig img {
  scale: 25%; }
